/* stylesheet that overrides the default boostrap theme */

.navbar-default {
  background: #990000;
  border-color: #990000;
  border-radius: 0px;
  margin-left: 0px; /*remove the margins so it looks like the student affairs website */
  margin-right: 0px;
  padding: 0px;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}

.navbar-default .navbar-nav{
  background-color: #990000;
}

/*seperation between the items in the navbar */
.navbar-default .navbar-nav > li{
 padding-left:10px;
 padding-right:10px;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #202020;
  color:#ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #202020;
  opacity: .9; /* decrease the opacity so it looks like student affairs website */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 10px; /* position the navbar directly under the menue item */
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #202020;
  background-color: #202020;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #990000;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #202020;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #202020;
}
.navbar-default .navbar-toggle {
  border-color: #414141;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #202020;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
  background-color:#202020;
}

/* style the buttons as well */
.btn-reservation{
  color:#ffffff;
  background-color: #BD5C5C;
}

.btn-reservation:hover{
  color:#ffffff;
  background-color: #A31919;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #202020;
  }
}